[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mob"]
	path = mob
	url = https://github.com/cran/mob
[submodule "vasicek"]
	path = vasicek
	url = https://github.com/cran/vasicek
[submodule "yager"]
	path = yager
	url = https://github.com/cran/yager
